
.container {
	position: absolute;
	margin: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	/*background-color: #f1f2f6;*/
	/*padding: 10px;*/
	display: flex;
	justify-content: space-between;
}

.markdown {
	font-family: 'Roboto', sans-serif;
	flex: 1 1 0;
	padding: 15px;
	flex-basis: 30%;
	box-sizing: border-box;
	background-color: #fffbed;
	position: relative;
}

#markdown-textarea {
	outline: 1px #888888;
	padding: 10px;
	height: 350px;
	resize: none;
	position: absolute;
	width: 80%;
	white-space: pre-wrap;
	word-wrap: break-word;

}

.preview {
	font-family: 'Roboto', sans-serif;
	flex: 1 1 0;
	overflow-y: scroll;
	flex-basis: 30%;
	box-sizing: border-box;
	padding: 15px;
	background-color: #ecf0f1;
}

#preview-content {
	line-height: 15px;
	color: #3d3d3d;
	font-size: 0.8em;

}

